.color-btn
	@include size(25px, 25px)
	border-radius: 50%
	border: 2px solid $Black
	margin: 0rem .3rem
	&:hover
		cursor: pointer
		border: 2px solid $White


@media (max-device-width: 573px)
	.color-btn
		@include size(15px, 18px)
		margin: 0rem 0.1rem
		
	