.info-buy-bar
	@include display-flex(space-between, center)
	@include size(100%, 50px)
	@include shadow-white
	z-index: 1
	background: $Grey
	color: $Black
	font-size: 15pt
	font-weight: 200

	span
		margin: 0rem .5rem

	img
		height: 30px

	.item-info-buy-bar
		@include display-flex(space-between, center)
		margin: 0rem 1rem
		
		a
			text-decoration: none
			color: $Black
			&:hover
				cursor: pointer
				color: $Lobocueros
				font-weight: 400

@media (max-device-width: 1200px)
	.info-buy-bar
		font-size: 11pt
		font-weight: 200
	

@media (max-device-width: 900px)
	.info-buy-bar
		font-size: 8pt
		font-weight: 200
	
@media (max-device-width: 573px)
	.info-buy-bar
		max-width: 100%
		@include display-flex(center, center)
		font-size: 5pt
		span
			text-align: center
			margin: 0rem 0rem

		img
			display: none
			height: 10px

	.item-info-buy-bar
		@include display-flex(center, center)
		margin: 0rem 0rem


