.instagramSection-main
	@include size(100%, auto)
	@include display-grid("instagram-bar" "instagram-photos-grid", 100%, 50px auto)

	.instagram-bar
		@include display-flex(center, center)
		@include shadow-white
		z-index: 1
		background: $Grey
		color: $Lobocueros
		font-family: "Pridi"
		font-size: 30pt
		font-weight: 400

		span
			margin: 0rem 1rem
			&:hover
				cursor: pointer		

		a
			text-decoration: none
			color: $Lobocueros	

		img
			height: 40px
			&:hover
				cursor: pointer
			

	.instagram-photos-grid
		display: grid
		grid-template-columns: "1fr 1fr 1fr 1fr 1fr"
		grid-template-rows: 100%
		grid-template-areas: "img1 img2 img3 img4 img5"
		grid-gap: 10px
		padding: 30px
		img
			width: 98%
			height: 98%
			border: 3px solid white
			border-radius: 50%
			&:hover
				// filter: drop-shadow(5px 5px 20px $Lobocueros)
				border: 3px solid black
				
		&:hover
			cursor: pointer

@media (max-device-width: 1200px)
	.instagramSection-main

		.instagram-bar
			font-size: 20pt

			img
				height: 30px			

@media (max-device-width: 900px)

@media (max-device-width: 573px)