.home
	@include size(100%, auto)
	display: grid
	@include display-grid("header" "main-home" "footer", 100%, 100px auto auto)

	.header
		grid-area: header

	.main-home
		grid-area: main-home

@import SHomeComponents/_MainHome
@import SHomeComponents/_BannerHome
@import SHomeComponents/_CarouselHome
@import SHomeComponents/_PromoHome

.home
	.footer
		grid-area: footer

	
