.banner-home
	grid-area: banner-home
	@include size(100%, 200px)
	background-image: url('../assets/Images/p1.jpg')
	background-size: cover
	.banner-container
		@include size(100%, 200px)
		text-align: center
		display: flex
		justify-content: center

	a
		text-decoration: none
	
		button
			// margin: 10rem
			// top: 6.5rem

@media (min-device-width: 1000px)
	.banner-home
		
		button
			margin: 5rem
			top: 1rem

@media (max-device-width: 1000px)
	.banner-home
		@include size(100%, 250px)
		
		button
			margin: 0rem 10rem
			top: 4.5rem

@media (max-device-width: 700px)
	.banner-home
		@include size(100%, 200px)
		
		button
			margin: 0rem 2rem
			top: 5.5rem


