.mainHome-main
	@include display-grid("banner-home" "carousel-home" "promo-home" "instagram" "info-buy", 100%, auto auto auto auto auto)

	.banner-home
		grid-area: banner-home
		@include size(100%, 300px)
		@include display-flex(center, center)
		background-image: url('../assets/Images/bg1.png')
		background-size: cover
		
		button
			@include shadow-white-btn
			margin: 10rem
			top: 6.5rem

	.carousel-home
		@include size(100%, auto)
		padding: 0rem 5rem
		grid-area: carousel-home

		.item-carousel
			@include display-flex(space-between, center)

	.promo-home
		grid-area: promo-home
		@include size(100%, 300px)
		@include display-flex(auto, center)
		background-image: url('../assets/Images/Tapabocas.png')
		background-size: cover

		div
			width: 50%
			text-align: center

			p
				margin: 0px

			h2 
				margin: .5rem

			button
				@include shadow-black-btn

	.instagram
		grid-area: instagram
		@include size(100%, auto)

	.info-buy
		grid-area: info-buy
		@include size(100%, auto)

@media (max-device-width: 1200px)
	.mainHome-main
		@include display-grid("banner-home" "carousel-home" "promo-home" "instagram" "info-buy", 100%, auto auto auto auto auto)

		.banner-home
			@include size(100%, 200px)
			
			button
				margin: 0rem 10rem
				top: 3.5rem
			
@media (max-device-width: 900px)
	

@media (max-device-width: 573px)
	.mainHome-main
		@include display-grid("banner-home" "carousel-home" "promo-home" "instagram" "info-buy", 100%, auto auto auto auto auto)

		.banner-home
			@include size(100%, 100px)
			background-size: cover
			
			button
				margin: 0rem 3rem
				top: 0rem
