.product-detail
	@include display-grid("header-product-detail" "main-detail-product" "footer-product-detail", auto, 100px auto auto)

	.header-product-detail
		grid-area: header-product-detail
		margin: 0
	

	.main-detail-product
		grid-area: main-detail-product

@import SDPComponents/_MainDetailProducts
@import SDPComponents/_CarouselImages
@import SDPComponents/_MiniImages
@import SDPComponents/_InfoProductDetail
@import SDPComponents/_PrincipalImage

.product-detail
	.footer-product-detail
		grid-area: footer-product-detail

