.item-cart
    @include display-grid("image-item-buy info-item-buy buttons-item-buy", 30% 50% 20%,  auto)
    background: $White
    margin: 1rem
    border: 1px solid $Black
    padding: 1rem

    .checkbox-item-buy
        @include display-flex(center, center)

    .image-item-buy
        border: 1px solid black
        @include display-flex(center, center)
        img
            width: 180px

    .info-item-buy
        border-top: 1px solid black
        border-bottom: 1px solid black

        @include display-flex(center, center)
        div
            text-align: center
            #item-title
                font-size: 15pt
                font-weight: 600

    .buttons-item-buy
        border: 1px solid black

        @include display-grid("trash-btn-container" "counter-btn-container", auto, 50% 50%)
        
        .trash-btn-container
            @include display-flex(center, flex-end)

        .counter-btn-container
            @include display-flex(center, flex-start)
            margin-top: 1rem
            span
                font-size: 12pt
                font-weight: bold

        button
            background: none
            border: none
            img
                width: 20px

        span
            font-size: 25pt
            margin: 0rem .5rem

@media (max-device-width: 1200px)
    .item-cart
        grid-template-columns: 40% 40% 20%
		
@media (max-device-width: 900px)
    .item-cart

        .info-item-buy
            font-size: 10pt

        .buttons-item-buy

            button
                img
                    width: 15px



@media (max-device-width: 573px)
    .item-cart
        // @include display-grid("image-item-buy info-item-buy buttons-item-buy", 30% 50% 20%,  auto)
        display: grid
        grid-template-columns: repeat(1, 1fr)
        grid-auto-rows: minmax(100px, auto)
        background: $White
        margin: 1rem
        border: 1px solid $Black
        padding: 1rem

        .checkbox-item-buy
            @include display-flex(center, center)

        .image-item-buy
            @include display-flex(center, center)
            grid-column: 1
            grid-row: 1
            img
                width: 100px

        .info-item-buy
            @include display-flex(center, center)
            grid-column: 1 / 3
            grid-row: 2
            margin-top: 1rem 
            p
                margin: 5px
            border-left: 1px solid black
            border-right: 1px solid black

        .buttons-item-buy
            @include display-grid("trash-btn-container" "counter-btn-container", auto, 50% 50%)
            grid-column: 2
            grid-row: 1
            padding: 1rem
            
            .trash-btn-container
                @include display-flex(center, flex-end)

            .counter-btn-container
                @include display-flex(center, center)

            button
                background: none
                border: none
                img
                    width: 20px

            span
                font-size: 25pt
                margin: 0rem .5rem