@import url("https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  background: #F0F0F0;
  font-family: "Montserrat";
  overflow-x: hidden;
}

.color-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #000000;
  margin: 0rem 0.3rem;
}
.color-btn:hover {
  cursor: pointer;
  border: 2px solid #FFFFFF;
}

@media (max-device-width: 573px) {
  .color-btn {
    width: 15px;
    height: 18px;
    margin: 0rem 0.1rem;
  }
}
.form-login-register {
  text-align: center;
}
.form-login-register button {
  margin: 1rem 0rem;
}

.login-register-social {
  background: #420000;
  padding: 0.3rem 0rem;
  margin: 0.5rem 0rem;
}
.login-register-social p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: "Montserrat";
  margin: 0.5rem;
}
.login-register-social .social-options-login-register {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-register-social .social-options-login-register img {
  width: 30px;
  margin: 0.5rem 1rem;
}

.btn-gender:hover {
  -webkit-box-shadow: 0px 0px 5px 0px white;
  -moz-box-shadow: 0px 0px 5px 0px white;
  box-shadow: 0px 0px 5px 0px white;
}

.btn-buy:hover {
  -webkit-box-shadow: 0px 0px 5px 0px black;
  -moz-box-shadow: 0px 0px 5px 0px black;
  box-shadow: 0px 0px 5px 0px black;
  color: #000000;
}

.btn-add:hover {
  -webkit-box-shadow: 0px 0px 5px 0px black;
  -moz-box-shadow: 0px 0px 5px 0px black;
  box-shadow: 0px 0px 5px 0px black;
  color: #000000;
}

.btn-login:hover {
  -webkit-box-shadow: 0px 0px 5px 0px black;
  -moz-box-shadow: 0px 0px 5px 0px black;
  box-shadow: 0px 0px 5px 0px black;
  color: #000000;
}

.btn-register:hover {
  -webkit-box-shadow: 0px 0px 5px 0px black;
  -moz-box-shadow: 0px 0px 5px 0px black;
  box-shadow: 0px 0px 5px 0px black;
  color: #000000;
}

.btn-send:hover {
  -webkit-box-shadow: 0px 0px 5px 0px black;
  -moz-box-shadow: 0px 0px 5px 0px black;
  box-shadow: 0px 0px 5px 0px black;
  color: #000000;
}

.btn-pay-again:hover {
  -webkit-box-shadow: 0px 0px 5px 0px black;
  -moz-box-shadow: 0px 0px 5px 0px black;
  box-shadow: 0px 0px 5px 0px black;
  color: #000000;
}

.colors-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0rem;
}

.item {
  display: grid;
  grid-template-areas: "image-item-order info-item-order";
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  text-align: center;
  border: 1px solid #000000;
  margin: 1rem;
  padding: 1rem;
}
.item img {
  width: 150px;
}

@media (max-device-width: 573px) {
  .item {
    display: grid;
    grid-template-areas: "image-item-order info-item-order";
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    text-align: center;
  }
  .item img {
    width: 100px;
  }
  .item p {
    font-size: 5pt;
  }
}
div[role=presentation] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-modal {
  position: absolute;
  width: auto;
  background: #420000;
  border: 2px solid #000;
  padding: 1rem;
}
.login-modal .logo-lobocueros-login-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-modal .logo-lobocueros-login-modal img {
  width: 50px;
}
.login-modal .title-lobocueros-login-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-modal .title-lobocueros-login-modal p {
  font-family: "Pridi";
  font-size: 25pt;
  font-weight: 400;
  margin: 0.3rem;
  color: #FFFFFF;
}

.breadcrumb {
  width: auto;
  height: auto;
  padding: 1rem 5rem;
}

@media (max-device-width: 573px) {
  .breadcrumb {
    padding: 1rem 1rem 0rem 1rem;
  }
}
.product-card {
  max-width: 250px;
  height: 360px;
}
.product-card .card-action-area {
  padding: 0px;
}
.product-card .card-action-area .card-content {
  padding: 0px;
}
.product-card .card-action-area .card-content a {
  text-decoration: none;
  color: #000000;
  width: 100%;
}
.product-card .card-action-area .card-content a .image-product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.product-card .card-action-area .card-content a .image-product-card img {
  width: 200px;
}
.product-card .card-action-area .card-content a .title-product-card {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card .card-action-area .card-content a .title-product-card h2 {
  text-align: center;
  font-family: "Pridi";
  font-size: 10pt;
  margin: 0px;
}
.product-card .card-action-area .card-content a .price-product-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card .card-action-area .card-content a .price-product-card span {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 10pt;
  margin: 0rem 0.3rem;
}
.product-card .card-action-area .card-content a .price-product-card .old-value {
  text-decoration: line-through;
  font-weight: 400;
  font-size: 8pt;
}
.product-card .card-action-area:hover {
  cursor: pointer;
}
.product-card .card-actions {
  padding: 0px;
  height: 120px;
}
.product-card .card-actions a {
  text-decoration: none;
  color: #000000;
  width: 100%;
}
.product-card .card-actions .product-card-actions {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.product-card .card-actions .product-card-actions .colors-product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem;
  height: 25px;
}
.product-card .card-actions .product-card-actions .buy-produt-card {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.product-card .card-actions .product-card-actions .buy-produt-card button {
  width: 200px;
  height: 30px;
  font-size: 8pt;
}

.resume-buy-container {
  display: grid;
  grid-template-areas: "info-resume" "button-resume";
  grid-template-columns: auto;
  grid-template-rows: 90% 10%;
  background: #FFFFFF;
  margin: 1.5rem 1rem;
  padding: 0rem 1rem 1rem 1rem;
}
.resume-buy-container .info-resume .title-info-resume {
  font-weight: 600;
  font-size: 15pt;
  text-align: center;
}
.resume-buy-container .info-resume div p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
}
.resume-buy-container .info-resume div .total {
  font-weight: 500;
}
.resume-buy-container .button-resume {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume-buy-container .button-resume a {
  text-decoration: none;
  width: 80%;
}
.resume-buy-container .button-resume a button {
  width: 100%;
}

.container-mini-cart {
  position: fixed;
  width: 400px;
  height: auto;
  right: 0px;
  top: 30px;
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #420000;
  z-index: 1;
  padding: 0.5rem;
}
.container-mini-cart hr {
  border-top: none;
  border-left: none;
  border-right: noner;
  border-bottom: 1px solid #420000;
}
.container-mini-cart .close-mini-cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container-mini-cart .list-products-mini-cart {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
  max-height: 70vh;
  min-height: 100px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.container-mini-cart .list-products-mini-cart::-webkit-scrollbar {
  width: 10px;
}
.container-mini-cart .list-products-mini-cart::-webkit-scrollbar-track {
  background: #FFFFFF;
}
.container-mini-cart .list-products-mini-cart::-webkit-scrollbar-thumb {
  background: #420000;
}
.container-mini-cart .list-products-mini-cart .item-mini-cart {
  display: grid;
  grid-template-areas: "image-item-buy info-item-buy buttons-item-buy";
  grid-template-columns: 30% 50% 20%;
  grid-template-rows: auto;
  background: #FFFFFF;
  border-bottom: 1px solid #420000;
  margin-bottom: 1rem;
}
.container-mini-cart .list-products-mini-cart .item-mini-cart .image-item-buy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-mini-cart .list-products-mini-cart .item-mini-cart .image-item-buy img {
  width: 100px;
}
.container-mini-cart .list-products-mini-cart .item-mini-cart .info-item-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8pt;
}
.container-mini-cart .list-products-mini-cart .item-mini-cart .buttons-item-buy {
  display: grid;
  grid-template-areas: "trash-btn-container" "counter-btn-container";
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
}
.container-mini-cart .list-products-mini-cart .item-mini-cart .buttons-item-buy .trash-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container-mini-cart .list-products-mini-cart .item-mini-cart .buttons-item-buy .counter-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container-mini-cart .list-products-mini-cart .item-mini-cart .buttons-item-buy button {
  background: none;
  border: none;
}
.container-mini-cart .list-products-mini-cart .item-mini-cart .buttons-item-buy button i img {
  width: 10px;
}
.container-mini-cart .list-products-mini-cart .item-mini-cart .buttons-item-buy span {
  font-size: 10pt;
  margin: 0rem;
}
.container-mini-cart .btn-buy-mini-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.container-mini-cart .btn-buy-mini-cart a {
  text-decoration: none;
}

@media (max-device-width: 573px) {
  .container-mini-cart {
    width: 90%;
  }
  .container-mini-cart .list-products-mini-cart .item-mini-cart {
    display: grid;
    grid-template-areas: "image-item-buy info-item-buy buttons-item-buy";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    background: #FFFFFF;
  }
  .container-mini-cart .list-products-mini-cart .item-mini-cart .image-item-buy img {
    width: 60px;
  }
  .container-mini-cart .list-products-mini-cart .item-mini-cart .info-item-buy {
    font-size: 7pt;
  }
  .container-mini-cart .list-products-mini-cart .item-mini-cart .buttons-item-buy button img {
    width: 10px;
  }
  .container-mini-cart .list-products-mini-cart .item-mini-cart .buttons-item-buy span {
    font-size: 10pt;
  }
}
.menu-open {
  display: none;
}

.header-main {
  margin: 0;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas: "headerUp" "headerDown";
  grid-template-columns: 100%;
  grid-template-rows: 30px 70px;
  -webkit-box-shadow: 0px 1px 5px 0px white;
  -moz-box-shadow: 0px 1px 5px 0px white;
  box-shadow: 0px 1px 5px 0px white;
  position: fixed;
  z-index: 2;
}
.header-main .headerUp {
  grid-area: headerUp;
  display: grid;
  grid-template-areas: "slogan menu-headerUp";
  grid-template-columns: 78% 22%;
  grid-template-rows: 100%;
  background: #000000;
  color: #FFFFFF;
  padding: 0rem 5rem;
}
.header-main .headerUp .slogan {
  grid-area: slogan;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 100;
}
.header-main .headerUp .menu-headerUp {
  grid-area: menu-headerUp;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-main .headerUp .menu-headerUp i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  margin: 0rem 0.3rem;
}
.header-main .headerUp .menu-headerUp i img {
  width: auto;
  height: 25px;
}
.header-main .headerUp .menu-headerUp .mini-cart-icon {
  margin: 0.5rem;
}
.header-main .headerDown {
  grid-area: headerDown;
  display: grid;
  grid-template-areas: "home-icon nav";
  grid-template-columns: 10% 90%;
  grid-template-rows: 100%;
  background: #420000;
  border: 0.5px solid #FFFFFF;
  padding: 0rem 10rem;
}
.header-main .headerDown a:-webkit-any-link {
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}
.header-main .headerDown .home-icon {
  grid-area: home-icon;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-main .headerDown .home-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-main .headerDown .home-icon a img {
  width: auto;
  height: 50px;
}
.header-main .headerDown .burger-menu, .header-main .headerDown .title-lobocueros {
  display: none;
}
.header-main .headerDown .nav {
  display: flex;
  justify-content: auto;
  align-items: center;
}
.header-main .headerDown .nav .main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: hidden;
}
.header-main .headerDown .nav .main-menu .home-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-main .headerDown .nav .main-menu .item-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  float: left;
  margin: 0rem 2rem;
  font-weight: 600;
}
.header-main .headerDown .nav .main-menu .item-menu img {
  width: auto;
  height: 5px;
}
.header-main .headerDown .nav .main-menu .item-menu a {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0rem 0.5rem;
  text-align: left;
}
.header-main .headerDown .nav .main-menu .item-menu a:hover {
  color: #efb810;
}
.header-main .headerDown .nav .main-menu .item-menu a img {
  width: auto;
  height: 50px;
}
.header-main .headerDown .nav .main-menu .item-menu .submenu-nav {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 1px 5px 0px white;
  -moz-box-shadow: 0px 1px 5px 0px white;
  box-shadow: 0px 1px 5px 0px white;
  display: none;
  position: absolute;
  background-color: black;
  top: 100px;
  left: 0px;
  border: 1px solid white;
  color: white;
  filter: alpha(opacity=60);
  opacity: 0.9;
}
.header-main .headerDown .nav .main-menu .item-menu .submenu-nav ul {
  list-style: none;
  overflow: hidden;
  padding: 1rem;
}
.header-main .headerDown .nav .main-menu .item-menu .submenu-nav ul .submenu-item {
  float: left;
  margin: 0rem 1rem;
  width: 230px;
  font-weight: 400;
}
.header-main .headerDown .nav .main-menu .item-menu .submenu-nav ul .submenu-item ul li {
  margin: 0.6rem 0rem;
  font-weight: 200;
  border-bottom: 1px solid white;
}
.header-main .headerDown .nav .main-menu .item-menu:hover > .submenu-nav {
  display: flex;
  justify-content: center;
  align-items: auto;
}

.active {
  display: flex;
  justify-content: center;
  align-items: auto;
}

@media (max-device-width: 1200px) {
  .header-main .headerDown .nav .main-menu .item-menu .submenu-nav {
    display: none;
    padding: 0rem 2rem;
  }
}
@media (max-device-width: 900px) {
  .header-main .headerUp {
    display: grid;
    grid-template-areas: "slogan menu-headerUp";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    padding: 0rem 5rem;
  }
  .header-main .headerUp .menu-headerUp {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header-main .headerDown {
    display: grid;
    grid-template-areas: "home-icon title-lobocueros burger-menu";
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 100%;
    padding: 0rem 5rem;
  }
  .header-main .headerDown .home-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header-main .headerDown .home-icon a img {
    width: auto;
    height: 30px;
  }
  .header-main .headerDown .title-lobocueros {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-main .headerDown .title-lobocueros p {
    color: #FFFFFF;
    font-family: "Pridi";
    font-size: 20pt;
  }
  .header-main .headerDown .burger-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header-main .headerDown .burger-menu .submenu-nav {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 1px 5px 0px white;
    -moz-box-shadow: 0px 1px 5px 0px white;
    box-shadow: 0px 1px 5px 0px white;
    display: none;
    position: absolute;
    background-color: black;
    top: 100px;
    left: 0px;
    border: 1px solid white;
    color: white;
    filter: alpha(opacity=60);
    opacity: 0.9;
  }
  .header-main .headerDown .burger-menu .submenu-nav ul {
    list-style: none;
    overflow: hidden;
    padding: 1rem;
  }
  .header-main .headerDown .burger-menu .submenu-nav ul .submenu-item {
    margin: 0rem 1rem;
    width: 200px;
    font-weight: 400;
    min-height: 50px;
  }
  .header-main .headerDown .burger-menu .submenu-nav ul .submenu-item ul li {
    font-weight: 200;
    display: none;
  }
  .header-main .headerDown .burger-menu .submenu-nav ul .submenu-item ul:hover li {
    display: block;
  }
  .header-main .headerDown .nav {
    display: none;
  }
}
@media (max-device-width: 573px) {
  .header-main {
    width: 100%;
  }
  .header-main .headerUp {
    padding: 0rem 1rem;
  }
  .header-main .headerUp .slogan {
    font-size: 8pt;
  }
  .header-main .headerDown {
    padding: 0rem 1rem;
  }
  .header-main .headerDown .burger-menu .submenu-nav {
    display: none;
  }
  .header-main .headerDown .burger-menu .submenu-nav ul .item-menu {
    margin: 1rem 0.5rem;
  }
  .header-main .headerDown .burger-menu .submenu-nav ul .item-menu a {
    margin: 0rem 1rem;
  }
  .header-main .headerDown .burger-menu .submenu-nav ul .item-menu img {
    display: none;
  }
}
.footer-main {
  width: auto;
  height: auto;
  display: grid;
  grid-template-areas: "about-footer contacto-footer social-footer";
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: auto;
  background: #000000;
  color: #FFFFFF;
  padding: 0rem 5rem;
}
.footer-main ul {
  list-style: none;
}
.footer-main ul li {
  margin: 0.5rem 0rem;
}
.footer-main ul a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer-main ul a:hover {
  text-decoration: underline;
}
.footer-main .about-footer {
  grid-area: about-footer;
  display: grid;
  grid-template-areas: "title-about-footer" "menu-about-footer";
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
}
.footer-main .about-footer .title-about-footer {
  margin-bottom: 3rem;
}
.footer-main .about-footer .title-about-footer .lobocueros-title {
  font-family: "Pridi";
  font-size: 15pt;
  font-weight: 500;
  margin-bottom: 0px;
}
.footer-main .about-footer .title-about-footer .slogan {
  font-weight: 100;
  margin-top: 0px;
}
.footer-main .contacto-footer {
  grid-area: contacto-footer;
  display: grid;
  grid-template-areas: "title-contacto-footer" "menu-contacto-footer";
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
}
.footer-main .contacto-footer .title-contacto-footer {
  display: flex;
  justify-content: auto;
  align-items: center;
  font-weight: 500;
}
.footer-main .social-footer {
  grid-area: social-footer;
  display: grid;
  grid-template-areas: "title-social-footer" "menu-social-footer";
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
}
.footer-main .social-footer .title-social-footer {
  display: flex;
  justify-content: auto;
  align-items: center;
  font-weight: 500;
}
.footer-main .social-footer .menu-social-footer ul li {
  float: left;
  margin: 0rem 0.5rem;
}
.footer-main .social-footer .menu-social-footer ul li a img {
  width: 30px;
}

@media (max-device-width: 1200px) {
  .footer-main {
    padding: 0rem;
  }
  .footer-main .about-footer {
    padding: 1rem 2rem;
  }
  .footer-main .about-footer .title-about-footer .lobocueros-title {
    font-size: 12.5pt;
  }
  .footer-main .about-footer .title-about-footer .slogan {
    display: none;
  }
  .footer-main .contacto-footer {
    padding: 1rem 2rem;
  }
  .footer-main .contacto-footer .title-contacto-footer {
    display: flex;
    justify-content: auto;
    align-items: center;
    font-weight: 500;
  }
  .footer-main .social-footer {
    padding: 1rem 2rem;
  }
}
@media (max-device-width: 900px) {
  .footer-main {
    padding: 0rem;
  }
  .footer-main .about-footer {
    padding: 1rem 1rem;
    font-size: 8pt;
  }
  .footer-main .contacto-footer {
    padding: 1rem 1rem;
    font-size: 8pt;
  }
  .footer-main .contacto-footer .title-contacto-footer {
    display: flex;
    justify-content: auto;
    align-items: center;
    font-weight: 500;
  }
  .footer-main .social-footer {
    padding: 1rem 0rem;
    font-size: 8pt;
  }
  .footer-main .social-footer .menu-social-footer ul li {
    float: left;
    margin: 0rem 0.5rem;
  }
  .footer-main .social-footer .menu-social-footer ul li a img {
    width: 20px;
  }
}
@media (max-device-width: 573px) {
  .footer-main {
    display: grid;
    grid-template-areas: "about-footer" "contacto-footer" "social-footer";
    grid-template-columns: 100%;
    grid-template-rows: 34% 33% 33%;
  }
  .footer-main .about-footer {
    padding: 0.5rem 1rem;
  }
  .footer-main .contacto-footer {
    padding: 0.5rem 1rem;
  }
  .footer-main .social-footer {
    padding: 0.5rem 1rem;
  }
}
.instagramSection-main {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas: "instagram-bar" "instagram-photos-grid";
  grid-template-columns: 100%;
  grid-template-rows: 50px auto;
}
.instagramSection-main .instagram-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 1px 5px 0px white;
  -moz-box-shadow: 0px 1px 5px 0px white;
  box-shadow: 0px 1px 5px 0px white;
  z-index: 1;
  background: #E4E4E4;
  color: #420000;
  font-family: "Pridi";
  font-size: 30pt;
  font-weight: 400;
}
.instagramSection-main .instagram-bar span {
  margin: 0rem 1rem;
}
.instagramSection-main .instagram-bar span:hover {
  cursor: pointer;
}
.instagramSection-main .instagram-bar a {
  text-decoration: none;
  color: #420000;
}
.instagramSection-main .instagram-bar img {
  height: 40px;
}
.instagramSection-main .instagram-bar img:hover {
  cursor: pointer;
}
.instagramSection-main .instagram-photos-grid {
  display: grid;
  grid-template-columns: "1fr 1fr 1fr 1fr 1fr";
  grid-template-rows: 100%;
  grid-template-areas: "img1 img2 img3 img4 img5";
  grid-gap: 10px;
  padding: 30px;
}
.instagramSection-main .instagram-photos-grid img {
  width: 98%;
  height: 98%;
  border: 3px solid white;
  border-radius: 50%;
}
.instagramSection-main .instagram-photos-grid img:hover {
  border: 3px solid black;
}
.instagramSection-main .instagram-photos-grid:hover {
  cursor: pointer;
}

@media (max-device-width: 1200px) {
  .instagramSection-main .instagram-bar {
    font-size: 20pt;
  }
  .instagramSection-main .instagram-bar img {
    height: 30px;
  }
}
.info-buy-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0px 1px 5px 0px white;
  -moz-box-shadow: 0px 1px 5px 0px white;
  box-shadow: 0px 1px 5px 0px white;
  z-index: 1;
  background: #E4E4E4;
  color: #000000;
  font-size: 15pt;
  font-weight: 200;
}
.info-buy-bar span {
  margin: 0rem 0.5rem;
}
.info-buy-bar img {
  height: 30px;
}
.info-buy-bar .item-info-buy-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 1rem;
}
.info-buy-bar .item-info-buy-bar a {
  text-decoration: none;
  color: #000000;
}
.info-buy-bar .item-info-buy-bar a:hover {
  cursor: pointer;
  color: #420000;
  font-weight: 400;
}

@media (max-device-width: 1200px) {
  .info-buy-bar {
    font-size: 11pt;
    font-weight: 200;
  }
}
@media (max-device-width: 900px) {
  .info-buy-bar {
    font-size: 8pt;
    font-weight: 200;
  }
}
@media (max-device-width: 573px) {
  .info-buy-bar {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8pt;
  }
  .info-buy-bar span {
    text-align: center;
    margin: 0rem 0rem;
  }
  .info-buy-bar img {
    display: none;
    height: 10px;
  }

  .item-info-buy-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 0rem;
  }
}
.home {
  display: grid;
  grid-template-areas: "header" "main-home" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 100px auto auto;
}
.home .header {
  grid-area: header;
}
.home .main-home {
  grid-area: main-home;
}

.mainHome-main {
  display: grid;
  grid-template-areas: "banner-home" "carousel-home" "promo-home" "instagram" "info-buy";
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto;
}

@media (max-device-width: 1500px) {
  .mainHome-main {
    display: grid;
    grid-template-areas: "banner-home" "carousel-home-movil" "promo-home" "instagram" "info-buy";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
  }
}
@media (max-device-width: 1000px) {
  .mainHome-main {
    display: grid;
    grid-template-areas: "banner-home" "carousel-home-movil-small" "promo-home" "instagram" "info-buy";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
  }
}
@media (max-device-width: 700px) {
  .mainHome-main {
    display: grid;
    grid-template-areas: "banner-home" "carousel-home-movil-extra-small" "promo-home" "instagram" "info-buy";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
  }
}
.banner-home {
  grid-area: banner-home;
  width: 100%;
  height: 200px;
  background-image: url("../assets/Images/p1.jpg");
  background-size: cover;
}
.banner-home .banner-container {
  width: 100%;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.banner-home a {
  text-decoration: none;
}
@media (min-device-width: 1000px) {
  .banner-home button {
    margin: 5rem;
    top: 1rem;
  }
}
@media (max-device-width: 1000px) {
  .banner-home {
    width: 100%;
    height: 250px;
  }
  .banner-home #btnGender {
    width: 200px;
  }
  .banner-home button {
    margin: 0rem 10rem;
    top: 4rem;
  }
}
@media (max-device-width: 700px) {
  .banner-home {
    width: 100%;
    height: 200px;
  }
  .banner-home button {
    margin: 0rem 2rem;
    top: 5.5rem;
  }
}
.carousel-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  grid-area: carousel-home;
}
.carousel-home li, .carousel-home button, .carousel-home .makeStyles-carousel-9 {
  outline: none;
}
.carousel-home .item-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-home .item-carousel div {
  margin: 0rem 0.5rem;
}

.carousel-home-movil {
  display: none;
  width: 100%;
  height: auto;
  grid-area: carousel-home-movil;
}
.carousel-home-movil li, .carousel-home-movil button, .carousel-home-movil .makeStyles-carousel-9 {
  outline: none;
}
.carousel-home-movil .item-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-home-movil .item-carousel div {
  margin: 0rem 0.5rem;
}

.carousel-home-movil-small {
  display: none;
  width: 100%;
  height: auto;
  grid-area: carousel-home-movil-small;
}
.carousel-home-movil-small .item-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-home-movil-small .item-carousel div {
  margin: 0rem 0.5rem;
}

.carousel-home-movil-extra-small {
  display: none;
  width: 100%;
  height: auto;
  grid-area: carousel-home-movil-extra-small;
}
.carousel-home-movil-extra-small .item-carousel {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-home-movil-extra-small .item-carousel a {
  text-decoration: none;
}

@media (max-device-width: 1500px) {
  .carousel-home {
    display: none;
  }

  .carousel-home-movil {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-home-movil-small {
    display: none;
  }

  .carousel-home-movil-extra-small {
    display: none;
  }
}
@media (max-device-width: 1000px) {
  .carousel-home {
    display: none;
  }

  .carousel-home-movil {
    display: none;
  }

  .carousel-home-movil-small {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-home-movil-extra-small {
    display: none;
  }
}
@media (max-device-width: 700px) {
  .carousel-home {
    display: none;
  }

  .carousel-home-movil {
    display: none;
  }

  .carousel-home-movil-small {
    display: none;
  }

  .carousel-home-movil-extra-small {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.promo-home {
  grid-area: promo-home;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: auto;
  align-items: center;
  background-image: url("../assets/Images/prueba2.jpeg");
  background-size: cover;
}
.promo-home div {
  width: 50%;
  text-align: center;
}
.promo-home div p {
  margin: 0px;
}
.promo-home div h2 {
  margin: 0.5rem;
}

@media (max-device-width: 1000px) {
  .promo-home {
    width: 100%;
    height: 250px;
  }
}
@media (max-device-width: 700px) {
  .promo-home {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.home .footer {
  grid-area: footer;
}

.mainProductos-main {
  display: grid;
  grid-template-areas: "breadcrumb" "products-filter" "products-grid" "instagram" "info-buy";
  grid-template-columns: 100%;
  grid-template-rows: auto;
}
.mainProductos-main .products-filter {
  padding: 0rem 5rem;
}
.mainProductos-main .products-grid {
  padding: 2rem 5rem;
}
.mainProductos-main .products-grid .grid-main {
  display: flex;
  justify-content: center;
}

.filter-products .select-filter .form-control {
  width: 120px;
  margin: 0rem 0.2rem;
}
.filter-products .select-filter #search-form-control {
  width: 100%;
}

@media (max-device-width: 573px) {
  .mainProductos-main {
    display: grid;
    grid-template-areas: "breadcrumb" "products-filter" "products-grid" "instagram" "info-buy";
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .mainProductos-main .products-filter {
    padding: 0rem 1rem;
  }
  .mainProductos-main .products-grid {
    padding: 0rem 1rem;
  }
  .mainProductos-main .products-grid .grid-main {
    display: flex;
    justify-content: center;
  }
}
.product-detail {
  display: grid;
  grid-template-areas: "header-product-detail" "main-detail-product" "footer-product-detail";
  grid-template-columns: auto;
  grid-template-rows: 100px auto auto;
}
.product-detail .header-product-detail {
  grid-area: header-product-detail;
  margin: 0;
}
.product-detail .main-detail-product {
  grid-area: main-detail-product;
}

.detail-product-main {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas: "breadcrumb" "details-product" "general-info" "instagram" "info-buy";
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto;
}
.detail-product-main .breadcrumb {
  width: auto;
  height: auto;
}
.detail-product-main .details-product {
  width: auto;
  height: 100%;
  display: grid;
  grid-template-areas: "carousel-images-detail info-product";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  padding: 0rem 5rem;
}
.detail-product-main .details-product .carousel-images-detail {
  width: auto;
  height: auto;
  padding: 0rem 1rem;
  display: block;
}

.carousel-images-section div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-device-width: 900px) {
  .carousel-images-section div img {
    width: 200px;
  }
}
@media (max-device-width: 573px) {
  .carousel-images-section {
    margin: 1rem 0rem;
  }
  .carousel-images-section div img {
    width: 180px;
  }
}
.detail-product-main .details-product .info-product {
  grid-gap: 1rem;
  margin: 0rem 0rem 1rem 0rem;
  display: grid;
  grid-template-areas: "info-product-detail" "general-info-product";
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
}
.detail-product-main .details-product .info-product .info-product-detail {
  text-align: center;
  width: auto;
  height: 70%;
  padding: 0rem 5rem;
  display: grid;
  grid-template-areas: "ref-product" "title-product" "price-product" "description-product" "actions-product-detail" "buttons-product-detail";
  grid-template-columns: 100%;
  grid-template-rows: 10% 10% 10% 40% 15% 15%;
}
.detail-product-main .details-product .info-product .general-info-product {
  padding: 0rem 1rem;
}
.detail-product-main .details-product .info-product .general-info-product .MuiBox-root {
  padding: 2px;
}
.detail-product-main .general-info {
  padding: 2rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas: "features-product measures-product";
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  color: #420000;
  padding: 0rem 0.5rem;
}
.features table, .features th, .features td {
  border-collapse: collapse;
  width: 300px;
}
.features table .item-table, .features th .item-table, .features td .item-table {
  font-size: 10pt;
  font-weight: 600;
}
.features table th, .features th th, .features td th {
  font-size: 12pt;
  font-weight: 800;
  height: 50px;
  text-align: start;
}
.features table td, .features th td, .features td td {
  font-size: 10pt;
  font-weight: 400;
  height: 15px;
}
.features .features-product {
  display: flex;
  justify-content: auto;
  align-items: auto;
}
.features .measures-product {
  display: flex;
  justify-content: auto;
  align-items: auto;
  width: auto;
  height: auto;
}

@media (max-device-width: 1200px) {
  .features {
    display: grid;
    grid-template-areas: "features-product" "measures-product";
    grid-template-columns: 50% 50px;
    grid-template-rows: auto;
  }
  .features table .item-table, .features th .item-table, .features td .item-table {
    font-size: 9pt;
  }
  .features table th, .features th th, .features td th {
    font-size: 11pt;
  }
  .features table td, .features th td, .features td td {
    font-size: 9pt;
  }
}
@media (max-device-width: 1100px) {
  .features table .item-table, .features th .item-table, .features td .item-table {
    font-size: 8pt;
  }
  .features table th, .features th th, .features td th {
    font-size: 10pt;
  }
  .features table td, .features th td, .features td td {
    font-size: 8pt;
  }
}
@media (max-device-width: 960px) {
  .features {
    display: grid;
    grid-template-areas: "features-product" "measures-product";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
}
@media (max-device-width: 573px) {
  .features table {
    width: 100%;
  }
  .features table .item-table {
    font-size: 8pt;
    font-weight: 600;
  }
  .features table th {
    font-size: 10pt;
    font-weight: 800;
    height: 50px;
    text-align: start;
  }
  .features table td {
    font-size: 7pt;
    font-weight: 400;
    height: 25px;
  }
}
.recommendations {
  width: 100%;
  height: auto;
  padding: 1rem;
}

@media (max-device-width: 1200px) {
  .recommendations {
    width: auto;
    height: auto;
    padding: 1rem;
  }
}
@media (max-device-width: 412px) {
  .recommendations {
    font-size: 8pt;
  }
}
@media (max-device-width: 1200px) {
  .detail-product-main .details-product {
    padding: 0rem 1rem;
  }
  .detail-product-main .details-product .info-product {
    display: grid;
    grid-template-areas: "info-product-detail" "general-info-product";
    grid-template-columns: 100%;
    grid-template-rows: 55% 45%;
  }
  .detail-product-main .details-product .info-product .info-product-detail {
    width: auto;
    height: 100%;
    padding: 0rem 1rem;
    display: grid;
    grid-template-areas: "ref-product" "title-product" "price-product" "description-product" "actions-product-detail" "buttons-product-detail";
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 10% auto 15% auto;
  }
}
@media (max-device-width: 960px) {
  .detail-product-main .details-product {
    width: auto;
    height: auto;
    display: grid;
    grid-template-areas: "carousel-images-detail" "info-product";
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    padding: 0rem 1rem;
  }
  .detail-product-main .details-product .info-product-detail {
    width: auto;
    height: auto;
    padding: 0rem 1rem;
    display: grid;
    grid-template-areas: "ref-product" "title-product" "price-product" "description-product" "actions-product-detail" "buttons-product-detail";
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 10% 30% 15% 25%;
  }
}
@media (max-device-width: 573px) {
  .detail-product-main .details-product {
    display: grid;
    grid-template-areas: "carousel-images-detail" "info-product-detail";
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    padding: 0rem 1rem;
  }
  .detail-product-main .details-product .info-product {
    display: grid;
    grid-template-areas: "info-product-detail" "general-info-product";
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    margin: 0rem 0rem 1rem 0rem;
  }
  .detail-product-main .details-product .info-product .general-info-product {
    margin-top: 2.5rem;
  }
  .detail-product-main .general-info {
    padding: 0rem 1rem;
    margin: 5rem 0rem;
  }
}
.carousel-images-section div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-device-width: 900px) {
  .carousel-images-section div img {
    width: 200px;
  }
}
@media (max-device-width: 573px) {
  .carousel-images-section {
    margin: 1rem 0rem;
  }
  .carousel-images-section div img {
    width: 180px;
  }
}
.mini-images-grid {
  margin: 2rem 0rem;
}
.mini-images-grid div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mini-images-grid img {
  width: 100px;
}

.ref-product {
  font-weight: 200;
}

.title-product {
  font-weight: 600;
  font-size: 15pt;
}

.price-product span {
  margin: 0.5rem;
  font-size: 12pt;
  font-weight: 300;
}
.price-product .old-value {
  text-decoration: line-through;
  font-size: 10pt;
  font-weight: 400;
}

.description-product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions-product-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.actions-product-detail .colors-bar {
  margin: 1rem;
}
.actions-product-detail .select-color {
  color: #420000;
  font-weight: bold;
  display: none;
}

.buttons-product-detail {
  display: grid;
  grid-template-areas: "counter" "buy-buttons" "product-exist";
  grid-template-columns: 100%;
  grid-template-rows: 40px 40px 15px;
  margin-bottom: 1rem;
}
.buttons-product-detail .product-exist {
  grid-area: product-exist;
  color: #420000;
  font-weight: bold;
  display: none;
}
.buttons-product-detail .counter {
  grid-area: counter;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons-product-detail .counter span {
  font-size: 20pt;
}
.buttons-product-detail .counter button {
  background: none;
  border: none;
}
.buttons-product-detail .counter button img {
  width: 20px;
}
.buttons-product-detail .buy-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons-product-detail .buy-buttons a {
  text-decoration: none;
}
.buttons-product-detail .buy-buttons a button {
  margin: 1rem;
  width: 200px;
  font-size: 10pt;
}

@media (max-device-width: 1200px) {
  .title-product {
    font-size: 12pt;
  }

  .price-product span {
    font-size: 11pt;
  }
  .price-product .old-value {
    font-size: 9pt;
  }

  .description-product {
    font-size: 11pt;
  }

  .buttons-product-detail {
    display: grid;
    grid-template-areas: "counter" "buy-buttons";
    grid-template-columns: 100%;
    grid-template-rows: 40px 40px;
  }
  .buttons-product-detail button {
    margin: 0rem;
    font-size: 8pt;
  }
}
@media (max-device-width: 900px) {
  .title-product {
    font-size: 10pt;
  }

  .price-product span {
    font-size: 9pt;
  }
  .price-product .old-value {
    font-size: 7pt;
  }

  .description-product {
    font-size: 9pt;
  }

  .buttons-product-detail {
    display: block;
  }
  .buttons-product-detail button {
    margin: 0rem;
    font-size: 8pt;
  }
}
@media (max-device-width: 573px) {
  .buttons-product-detail {
    display: block;
  }
  .buttons-product-detail .buy-buttons {
    display: block;
  }
  .buttons-product-detail .buy-buttons a button {
    margin: 0.5rem;
    font-size: 8pt;
  }
}
.principal-image {
  text-align: center;
}
.principal-image img {
  max-height: 270px;
}

.product-detail .footer-product-detail {
  grid-area: footer-product-detail;
}

.mainCart-main .cart {
  display: grid;
  grid-template-areas: "info-items-buy resume-buy";
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  padding: 0rem 10rem;
}

.container-counter {
  background: #FFFFFF;
  margin: 1rem;
}
.container-counter p {
  font-size: 20pt;
  font-weight: 600;
}

.pay-container {
  display: grid;
  grid-template-areas: "methods-pay";
  grid-template-columns: 100%;
  grid-template-rows: auto;
  background: #FFFFFF;
  margin: 1rem;
  padding: 1rem;
}
.pay-container .methods-pay {
  display: grid;
  grid-template-areas: "pay-methods-title" "pay-methods-icons";
  grid-template-columns: auto;
  grid-template-rows: 30% 70%;
  border-right: 2px solid #E4E4E4;
}
.pay-container .methods-pay img {
  width: 30px;
}
.pay-container .methods-pay i {
  margin: 0rem 0.5rem;
}
.pay-container .methods-pay .pay-methods-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15pt;
  font-weight: 600;
}
.pay-container .methods-pay .pay-methods-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0.5rem;
}
.pay-container .secure-pay {
  display: grid;
  grid-template-areas: "secure-pay-title" "secure-pay-info";
  grid-template-columns: auto;
  grid-template-rows: 30% 70%;
}
.pay-container .secure-pay img {
  width: 20px;
}
.pay-container .secure-pay i {
  margin: 0rem 0.5rem;
}
.pay-container .secure-pay .secure-pay-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15pt;
  font-weight: 600;
}
.pay-container .secure-pay .secure-pay-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
  text-align: center;
  font-weight: 300;
}

@media (max-device-width: 900px) {
  .pay-container {
    background: #FFFFFF;
    margin: 1rem;
    padding: 0.5rem;
  }
  .pay-container .methods-pay img {
    width: 20px;
  }
  .pay-container .methods-pay i {
    margin: 0rem 0.5rem;
  }
  .pay-container .methods-pay .pay-methods-title {
    font-size: 10pt;
  }
  .pay-container .secure-pay img {
    width: 15px;
  }
  .pay-container .secure-pay .secure-pay-title {
    font-size: 10pt;
  }
  .pay-container .secure-pay .secure-pay-info {
    font-size: 8pt;
  }
}
@media (max-device-width: 573px) {
  .pay-container {
    display: grid;
    grid-template-areas: "methods-pay" "secure-pay";
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    background: #FFFFFF;
    margin: 1rem;
    padding: 1rem;
  }
  .pay-container .methods-pay {
    display: grid;
    grid-template-areas: "pay-methods-title" "pay-methods-icons";
    grid-template-columns: auto;
    grid-template-rows: 30% 70%;
    border-bottom: 2px solid #E4E4E4;
    border-right: none;
  }
  .pay-container .secure-pay {
    padding: 1rem 0rem 0rem 0rem;
  }
}
.item-cart {
  display: grid;
  grid-template-areas: "image-item-buy info-item-buy buttons-item-buy";
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto;
  background: #FFFFFF;
  margin: 1rem;
  border: 1px solid #000000;
  padding: 1rem;
}
.item-cart .checkbox-item-buy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-cart .image-item-buy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-cart .image-item-buy img {
  width: 180px;
}
.item-cart .info-item-buy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-cart .buttons-item-buy {
  display: grid;
  grid-template-areas: "trash-btn-container" "counter-btn-container";
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
}
.item-cart .buttons-item-buy .trash-btn-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.item-cart .buttons-item-buy .counter-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-cart .buttons-item-buy button {
  background: none;
  border: none;
}
.item-cart .buttons-item-buy button img {
  width: 20px;
}
.item-cart .buttons-item-buy span {
  font-size: 25pt;
  margin: 0rem 0.5rem;
}

@media (max-device-width: 900px) {
  .item-cart .image-item-buy img {
    width: 100px;
  }
  .item-cart .info-item-buy {
    font-size: 10pt;
  }
  .item-cart .buttons-item-buy button img {
    width: 15px;
  }
  .item-cart .buttons-item-buy span {
    font-size: 20pt;
  }
}
@media (max-device-width: 573px) {
  .item-cart {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    background: #FFFFFF;
    margin: 1rem;
    border: 1px solid #000000;
    padding: 1rem;
  }
  .item-cart .checkbox-item-buy {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-cart .image-item-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
  }
  .item-cart .image-item-buy img {
    width: 100px;
  }
  .item-cart .info-item-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    grid-row: 2;
    margin-top: 1rem;
  }
  .item-cart .info-item-buy p {
    margin: 5px;
  }
  .item-cart .buttons-item-buy {
    display: grid;
    grid-template-areas: "trash-btn-container" "counter-btn-container";
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    grid-column: 2;
    grid-row: 1;
  }
  .item-cart .buttons-item-buy .trash-btn-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .item-cart .buttons-item-buy .counter-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-cart .buttons-item-buy button {
    background: none;
    border: none;
  }
  .item-cart .buttons-item-buy button img {
    width: 20px;
  }
  .item-cart .buttons-item-buy span {
    font-size: 25pt;
    margin: 0rem 0.5rem;
  }
}
@media (max-device-width: 1200px) {
  .mainCart-main .cart {
    padding: 0rem 0rem;
  }
}
@media (max-device-width: 573px) {
  .mainCart-main .cart {
    display: grid;
    grid-template-areas: "info-items-buy" "resume-buy";
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 0rem 0rem;
  }
}
.mainResume-main .resume {
  display: grid;
  grid-template-areas: "info-method-detail resume-login";
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  padding: 0rem 10rem;
}
.mainResume-main .title-steep {
  font-size: 12pt;
  font-weight: 200;
}
.mainResume-main .subtitle-steep {
  font-size: 15pt;
  font-weight: 600;
}

.container-InfoShipping {
  background: #FFFFFF;
  margin: 1rem;
  padding: 1rem;
}
.container-InfoShipping form div {
  margin: 0.1rem;
}

.container-counter {
  padding: 1rem;
}

.items-order {
  background: #FFFFFF;
  margin: 1rem;
  padding: 1rem;
}
.items-order p {
  font-size: 15pt;
}

@media (max-device-width: 1200px) {
  .items-order {
    background: #FFFFFF;
    margin: 1rem;
    padding: 1rem;
  }
  .items-order .item {
    display: grid;
    grid-template-areas: "image-item-order info-item-order";
    grid-template-columns: 35% 65%;
    grid-template-rows: auto;
    text-align: center;
  }
  .items-order .item img {
    width: 120px;
  }
  .items-order .item p {
    font-size: 8pt;
  }
}
@media (max-device-width: 573px) {
  .items-order {
    background: #FFFFFF;
    margin: 1rem;
    padding: 1rem;
  }
  .items-order .item {
    display: grid;
    grid-template-areas: "image-item-order" "info-item-order";
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    text-align: center;
  }
  .items-order .item img {
    width: 120px;
  }
  .items-order .item p {
    font-size: 8pt;
  }
}
.login-register-container {
  background: #FFFFFF;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}
.login-register-container p {
  font-size: 12pt;
  font-weight: 600;
}
.login-register-container .answer-register {
  font-size: 10pt;
  font-weight: 300;
}

@media (max-device-width: 1200px) {
  .mainResume-main .resume {
    padding: 0rem 1rem;
  }
}
@media (max-device-width: 573px) {
  .mainResume-main .resume {
    display: grid;
    grid-template-areas: "info-method-detail" "resume-login";
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 0rem 1rem;
  }
  .mainResume-main .title-steep {
    font-size: 12pt;
    font-weight: 200;
  }
  .mainResume-main .subtitle-steep {
    font-size: 15pt;
    font-weight: 600;
  }
}
.mainSuccessfulPurchase-main .SuccessfulPurchase {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container-purchase-true {
  background: #FFFFFF;
  width: 40%;
}
.container-purchase-true .title-purchase {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.container-purchase-true .title-purchase img {
  width: 100px;
}
.container-purchase-true .title-purchase p {
  font-size: 20pt;
  font-weight: 600;
  margin: 1rem;
}
.container-purchase-true .list-products-purchase {
  text-align: center;
}
.container-purchase-true .list-products-purchase p {
  font-size: 10pt;
  font-weight: 400;
}
.container-purchase-true .btn-purchase-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}
.container-purchase-true .btn-purchase-container a {
  text-decoration: none;
}
.container-purchase-true .btn-purchase-container button {
  -webkit-box-shadow: 0px 0px 5px 0px black;
  -moz-box-shadow: 0px 0px 5px 0px black;
  box-shadow: 0px 0px 5px 0px black;
}
.container-purchase-true .resume-purchase {
  padding: 2rem;
  border: 1px solid #000000;
  margin: 1rem;
  color: #420000;
}
.container-purchase-true .resume-purchase hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #000000;
}
.container-purchase-true .resume-purchase h1 {
  text-align: center;
  font-weight: bold;
}

@media (max-device-width: 573px) {
  .container-purchase-true {
    margin: 1rem 1rem;
  }
  .container-purchase-true .title-purchase img {
    width: 50px;
  }
  .container-purchase-true .title-purchase p {
    font-size: 10pt;
    font-weight: 600;
    margin: 1rem;
  }
  .container-purchase-true .list-products-purchase {
    text-align: center;
  }
  .container-purchase-true .list-products-purchase p {
    font-size: 7pt;
    font-weight: 400;
  }
  .container-purchase-true .btn-purchase-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
  }
  .container-purchase-true .btn-purchase-container button {
    -webkit-box-shadow: 0px 0px 5px 0px black;
    -moz-box-shadow: 0px 0px 5px 0px black;
    box-shadow: 0px 0px 5px 0px black;
  }
  .container-purchase-true .btn-purchase-container button:hover {
    color: #000000;
  }
}
.mainAbout-main .about-tabs {
  margin: 1rem 0rem;
  padding: 0rem 5rem;
}

@media (max-device-width: 573px) {
  .mainAbout-main .about-tabs {
    padding: 0rem 1rem;
  }
}
.contact-main-container {
  color: #420000;
  padding: 0rem 5rem;
}
.contact-main-container .form-map-contact {
  display: grid;
  grid-template-areas: "form-contact map-contact";
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  padding: 1rem;
}
.contact-main-container .form-map-contact .form-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-InfoContact {
  text-align: center;
}
.container-InfoContact button {
  width: 93%;
}

.contact-main-container .form-map-contact .map-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}
.contact-main-container .form-map-contact .map-contact .direction-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-main-container .network-contact {
  display: grid;
  grid-template-areas: "icons-social-media-contact email-contact";
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  padding: 1rem;
  margin: 1rem 0rem;
  font-size: 25pt;
  font-weight: 600;
  font-family: "Pridi";
}
.contact-main-container .network-contact .icons-social-media-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-main-container .network-contact .icons-social-media-contact i {
  margin: 0rem 0.5rem;
}
.contact-main-container .network-contact .icons-social-media-contact i img {
  width: 50px;
}
.contact-main-container .network-contact .icons-social-media-contact i:hover {
  cursor: pointer;
}
.contact-main-container .network-contact .email-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-main-container .phones-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-weight: 300;
}

@media (max-device-width: 1200px) {
  .contact-main-container .form-map-contact {
    font-size: 10pt;
  }
  .contact-main-container .phones-contact {
    font-size: 10pt;
  }
  .contact-main-container .network-contact {
    font-size: 15pt;
    margin: 0rem 0rem;
    padding: 0rem;
  }
}
@media (max-device-width: 900px) {
  .contact-main-container {
    padding: 0rem 1rem;
  }
  .contact-main-container .form-map-contact {
    font-size: 8pt;
  }
  .contact-main-container .phones-contact {
    font-size: 8pt;
  }
}
@media (max-device-width: 573px) {
  .contact-main-container .form-map-contact {
    display: block;
  }
  .contact-main-container .form-map-contact .map-contact {
    height: 100vh;
    margin: 1rem 0rem;
  }
  .contact-main-container .network-contact {
    display: block;
    font-size: 18pt;
    margin: 0rem 0rem;
    padding: 0rem;
  }
  .contact-main-container .phones-contact {
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 1fr);
    padding: 1rem;
  }
  .contact-main-container .phones-contact span {
    margin: 0.2rem 0rem;
  }
}
.container-NotFound {
  margin: 0;
  padding: 0;
  background-color: #0a1821;
  height: 100vh;
  width: 100vw;
  font-family: Roboto, Arial, sans-serif;
  color: #fff;
  text-align: center;
}

.not-found {
  width: 560px;
  height: 225px;
  margin-right: -10px;
}

.starry-sky {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.search-icon {
  display: inline-block;
}

.notfound-copy {
  color: #fff;
  position: fixed;
  top: 25px;
  right: 10%;
  text-align: right;
}
.notfound-copy h1 {
  font-weight: 700;
  font-size: 40px;
}
.notfound-copy a {
  font-weight: 300;
  color: #fff;
  border-bottom: 1.5px solid #5581d4;
  text-decoration: none;
}
.notfound-copy a:hover {
  font-weight: 300;
  color: #fff;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

/* change to alternating star opacities */
.all-stars {
  animation: blinkblink 7s linear infinite;
}

.moon input {
  color: #fff;
  background-color: #0a1821;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 18px;
}
.moon input:focus {
  border-bottom: 2px solid #ccc;
}
/* mobile test * / */
@media (max-width: 647px) {
  .moon {
    padding-top: -500px;
  }
}

/*# sourceMappingURL=Lobocueros.css.map */
