.features
	@include size(100%, auto)
	@include display-grid("features-product measures-product", 50% 50%, 100%)
	color: $Lobocueros
	padding: 0rem .5rem
	table, th, td
		border-collapse: collapse
		width: 300px

		.item-table
			font-size: 10pt
			font-weight: 600

		th
			font-size: 12pt
			font-weight: 800
			height: 50px
			text-align: start
		
		td
			font-size: 10pt
			font-weight: 400
			height: 15px



	.features-product
		@include display-flex(auto, auto)
		

	.measures-product
		@include display-flex(auto, auto)
		@include size(auto, auto)

@media (max-device-width: 1200px)
	.features
		@include display-grid("features-product" "measures-product", 50% 50px, auto)

		table, th, td

			.item-table
				font-size: 9pt

			th
				font-size: 11pt
			
			td
				font-size: 9pt

@media (max-device-width: 1100px)
	.features
		table, th, td

			.item-table
				font-size: 8pt

			th
				font-size: 10pt
			
			td
				font-size: 8pt
		
@media (max-device-width: 960px)
	.features
		@include display-grid("features-product" "measures-product", 50% 50%, auto)

@media (max-device-width: 573px)
	.features
		table
			width: 100%

			.item-table
				font-size: 8pt
				font-weight: 600

			th
				font-size: 10pt
				font-weight: 800
				height: 50px
				text-align: start
			
			td
				font-size: 7pt
				font-weight: 400
				height: 25px