.detail-product-main
	@include size(100%, auto)
	@include display-grid("breadcrumb" "details-product" "general-info" "instagram" "info-buy", 100%, auto auto auto auto auto)

	.breadcrumb
		@include size(auto, auto)

	.details-product
		@include size(auto, auto)
		@include display-grid("carousel-images-detail info-product", 50% 50%, auto)
		padding: 0rem 5rem

		.carousel-images-detail
			@include size(auto, auto)
			padding: 0rem 1rem
			display: block

@import _CarouselImages

.detail-product-main
	.details-product
		.info-product
			@include display-grid("info-product-detail" "general-info-product", auto, 50% 50%)
			.info-product-detail
				text-align: center
				@include size(auto, 80%)
				padding: 0rem 5rem
				@include display-grid("ref-product" "title-product" "price-product" "description-product" "actions-product-detail" "buttons-product-detail", 100%, 10% 10% 10% 40% 15% 15%)

			.general-info-product
				padding: 0rem 1rem

				.MuiBox-root 
					padding: 2px

	.general-info
		padding: 2rem 5rem
		@include display-flex(center, center)

@import _GeneralInfoProduct

@media (max-device-width: 1200px)
	.detail-product-main
		.details-product
			padding: 0rem 1rem
			.info-product-detail
				@include size(auto, 100%)
				padding: 0rem 1rem
				@include display-grid("ref-product" "title-product" "price-product" "description-product" "actions-product-detail" "buttons-product-detail", 100%, 10% 10% 10% 40% 15% 15%)

	

@media (max-device-width: 900px)
	.detail-product-main
		.details-product
			padding: 0rem 1rem
			.info-product-detail
				@include size(auto, auto)
				padding: 0rem 1rem
				@include display-grid("ref-product" "title-product" "price-product" "description-product" "actions-product-detail" "buttons-product-detail", 100%, 10% 10% 10% 40% 15% 15%)


@media (max-device-width: 573px)
	.detail-product-main

		.details-product
			@include display-grid("carousel-images-detail" "info-product-detail", 100%, auto auto)
			padding: 0rem 1rem

			.carousel-images-detail
				@include size(auto, auto)
				padding: 0rem 0rem
				@include display-flex(center, center)

		.general-info
			padding: 0rem 1rem
			margin: 5rem 0rem

