.item
	@include display-grid("image-item-order info-item-order", auto auto, auto)
	text-align: center
	border: 1px solid $Black
	margin: 1rem
	padding: 1rem
	img
		width: 150px
	
@media (max-device-width: 1200px)
		
@media (max-device-width: 900px)

@media (max-device-width: 573px)
	.item
		@include display-grid("image-item-order info-item-order", auto auto, auto)
		text-align: center
		img
			width: 100px

		p
				font-size: 5pt